*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    z-index: 5;
    
}
nav{
    margin-top: -8px;
    margin-left:-8px;
    background: black;
    height: 80px;
    width: 100%;
    position: fixed;

    

}

label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
    font-variant: small-caps;

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    
}
nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 1px;
    font-variant: small-caps;
    
}
nav ul li a:hover {
    box-shadow: 0 0 5px #00ffeefc,
        0 0 5px #00f7ffe8;
    border-radius: 5px;
    color: #00ffeefc;
    transition: .5s;
}
a.active{
    box-shadow: 0 0 5px #00ffeefc,
        0 0 5px #00f7ffe8;
    border-radius: 5px;
    color: #00ffeefc;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin: 0px 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
@media (max-width: 1200px){
    label.logo{
        font-size: 27px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 1100px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #001a21;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    
    nav ul li a{
        font-size: 20px;
    }
    a.active{
        background: none;
    }
    a:hover{
        background: none;
        color: aqua;

    }
    #check:checked ~ ul{
        left: 0;
    }
}