<nav class="navbar">

    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <label class="logo">The HealthyWays</label>
    <ul>
        <li><a  routerLink="home">Home</a></li>
        <li><a routerLink="health-topics">Health Topics</a></li>
        <li><a routerLink="health-condition">Health Conditions</a></li>
        <li><a href="#">Health Care</a></li>
        <li><a href="#">News</a></li>
        <li><a routerLink="tools">Tools</a></li>
    </ul>
</nav>