<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <div class="main-content">
        <div class="left-box">
            <div class="logo-img">
                <img src="assets\photo\THW.png" alt="">
            </div>
            <h2>The HealthyWays </h2>

            <div class="content">

                <div class="social">
                    <a href="https://www.youtube.com/"><fa-icon [icon]="faYoutube"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
                    <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
                </div>
                <h2 class="wellness-h2">Get our wellness newsletter</h2>
                <p>The HealthyWays is a nonprofit organization with a mission to empower wellness worldwide by educating
                    public
                    and the private sector regarding preventive health and wellness.</p>
            </div>
        </div>
        <div class="right-box">
            <ul class="list1">
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Privacy setting</a></li>
                <li><a href="#">Advertising Policy</a></li>
                <li><a href="#">Medical Affairs</a></li>
            </ul>
            <div class="list2">
                <ul class="list1">
                    <li><a href="#">Content Integrity</a></li>
                    <li><a href="#">Newsletters</a></li>
                    <p>© 2021-2023 The HealthyWays. All rights reserved. Our website services, content, and products
                        are for informational purposes only. The HealthyWays Media does not provide medical advice,
                        diagnosis, or treatment.</p>
                </ul>


            </div>
        </div>
    </div>

</footer>