<div class="topics-banner">
    <img src="assets\photo\topics-banner.png" alt="hcod">
</div>

<div class="scrollbar">
    <div class="scrollmenu">
        <a href="health-topics">Health topics</a>
        <a routerLink="nutrition">Nutritions</a>
        <a href="#contact">News</a>
        <a href="#about">diabetes</a>
        <a href="#support">Drugs</a>
        <a href="#blog">skin care</a>
        <a href="#tools">men's health</a>
        <a href="#base">women's health</a>
        <a href="#custom">sexual health</a>
        <a href="#more">reproductive health</a>
    </div>
</div>

<!-- <div>
    <a id="a" routerLink="#">A</a>
</div> -->

<div class="class-a">
    <h2 id="a">A</h2>
    <hr class="hr-class">
</div>

<div class="A">
    <ul class="Aa">
        <li><a routerLink="abdominal-pain" class="Aaa">Abdominal Pain </a></li>
        <li><a href="" class="Aaa">Acne</a> </li>             
        <li><a href="" class="Aaa">ADHD</a></li>                   
        <li><a href="" class="Aaa">Allergies</a> </li>                   
        <li><a href="" class="Aaa">Antibiotics</a></li>                   
        <li><a href="" class="Aaa">Anxiety</a></li>                   
        <li><a href="" class="Aaa">Appendicitis</a></li>                   
        <li><a href="" class="Aaa">Aromatherapy</a></li>                   
        <li><a href="" class="Aaa">Arrhythmia </a></li>                   
        <li><a href="" class="Aaa">Arthritis</a></li>                   
        <li><a href="" class="Aaa">Asthma</a></li>                   
        <li><a href="" class="Aaa">Autism</a></li>   
        <li><a href="" class="Aaa">Autoimmune Disorders</a></li>                 
    </ul>
</div>
<div class="class-a">
    <h2 id="a">B</h2>
    <hr class="hr-class">
</div>

<div class="A">
    <ul class="Aa">
        <li><a class="Aaa" href="">Back Pain</a></li>
        <li><a href="" class="Aaa">Bipolar Disorder</a></li>
        <li><a href="" class="Aaa">Birth Defects</a></li>
        <li><a href="" class="Aaa">Blood Cell Disorders</a></li>
        <li><a href="" class="Aaa">Brain Disorders</a></li>
        <li><a href="" class="Aaa">Breast Cancer</a></li>
        <li><a href="" class="Aaa">Bug Bites</a> </li>
        <li><a href="" class="Aaa">Burns</a> </li>
    </ul>
</div>
<div class="class-a">
    <h2 id="a">C</h2>
    <hr class="hr-class">
</div>

<div class="A">
    <ul class="Aa">
        <li><a href="" class="Aaa">Cavities</a></li>
        <li><a href="" class="Aaa">Chest Pain</a> </li>             
        <li><a href="" class="Aaa">Chlamydia</a></li>                   
        <li><a href="" class="Aaa">Chron's Disease</a> </li>                   
        <li><a href="" class="Aaa">Chronic Fatigue Syndrome (CFS)</a></li>                   
        <li><a href="" class="Aaa">Cocaine</a></li>                   
        <li><a href="" class="Aaa">Common Cold</a></li>                   
        <li><a href="" class="Aaa">Constipation</a></li>                   
        <li><a href="" class="Aaa">COPD</a></li>                   
        <li><a href="" class="Aaa"> Coronary Artery Disease</a></li>                   
        <li><a routerLink="covid19" class="Aaa">COVID-19</a></li>                    
    </ul>
</div>
<div class="class-a">
    <h2 id="a">D</h2>
    <hr class="hr-class">
</div>

<div class="A">
    <ul class="Aa">
        <li><a href="" class="Aaa">Depression</a></li>
        <li><a href="" class="Aaa">Diabetes</a> </li>             
        <li><a href="" class="Aaa">Diarrhea</a></li>                   
        <li><a href="" class="Aaa">Diet Types</a> </li>                   
        <li><a href="" class="Aaa">Digestive Problems</a></li>                   
        <li><a href="" class="Aaa">Dizziness</a></li>                   
        <li><a href="" class="Aaa">Drug Abuse</a></li>                                      
    </ul>
</div>
<div class="class-a">
    <h2 id="a">E</h2>
    <hr class="hr-class">
</div>

<div class="A">
    <ul class="Aa">
        <li><a href="" class="Aaa"> Ear Infections</a></li>
        <li><a href="" class="Aaa">Eating Disorders</a></li>             
        <li><a href="" class="Aaa"> Eczema</a></li>                   
        <li><a href="" class="Aaa">Endometriosis</a> </li>                   
        <li><a href="" class="Aaa">Epilepsy</a></li>                   
        <li><a href="" class="Aaa">Erectile Disfunction</a></li>                                                         
    </ul>
</div>