.covid19-banner{
    
    padding-top:70px;
    padding-bottom: 5px; 
    font-size: 20px;
    background-color: #ffffff;
    margin: 0;
    max-width: 100%;
    object-fit: cover;
    object-position: center 25%;
    text-align: center;
}
.covid19-banner img{
    max-width: 100%;
    max-height: 100%;

}
.over{
    max-width: 1250px;
    margin: auto;
    padding: 15px 0px;
    font-variant: small-caps;
}
.overview{
    max-width: 1250px;
    margin: auto;
    padding: 15px 0px;
}
.para{
    max-width: 1250px;
    margin: auto;
}
.informed{
    max-width: 1250px;
    margin: auto;
}
.list{
    text-decoration: none;
    max-width: 1250px;
    margin: auto;
}
.list a {
    color: black;
    list-style: none;
    text-decoration: none;
}
.list a:hover{
    color: red;
}
@media all and (max-width: 968px){

.covid19-banner img{ 
    padding-top: 0px;
    padding-bottom: 5px; 
    background-color: #ffffff;
    margin: 0;
    max-width: 100%;
    object-fit: cover;
    text-align: center;
    }
    
}
