<div>
    <div class="nutrition-banner">
        <img src="assets\photo\nutrition.png" alt="">
    </div>

    <div class="mainheading">
        <h2>Health and Nutrition</h2>
    </div>

    <hr>
    
    <div class="heading">
        <h1>27 Health and Nutritions Tips</h1>
        <!-- <a (click)="toggle()" class="viewall" routerLink="nutrition-tips27">View All
            <span class="fa fa-arrow-circle-o-right"></span>
        </a> -->
    </div>
    
    <div class="box-1">
        <div class="para">
            <h1 class="subheading">1. Eat dry Fruits</h1>
            <p class="subpara">Nuts may help you lose weight and reduce the risk of developing type 2 diabetes and heart
                disease <br> <br>
                Nuts and seeds are good sources of protein, healthy fats, fibres, vitamins, and minerals. <br>
                Nuts and seeds regulate body weight as their fats are not fully absorbed, they regulate food intake, and
                help burn energy. <br> <br> Some people avoid nuts because they are high in fat. However, nuts and seeds
                are incredibly nutritious. They are packed with protein, fiber, and a variety of vitamins and minerals
                <br> <br>
                Nuts may help you lose weight and reduce the risk of developing type 2 diabetes and heart disease <br>
                <br>
                Additionally, one large observational study noted that a low intake of nuts and seeds was potentially
                linked to an increased risk of death from heart disease, stroke, or type 2 diabetes. <br>
                Some Dry fruits: <br> <br>
                <li>Pistachios - Pista</li>
                <li>Apricot - Khubani</li>
                <li>Dates - Khajoor</li>
                <li>Cashew - Kaju</li>
                <li>Almonds - Badam</li>
                <li>Walnuts - Akhrot</li>
                <li>Raisins - Kismis</li>
                <li>Hazelnuts - Pahadi Badam</li>
                <li>Dry Figs - Anjeer</li>
                <li>Prunes - Alubukhara</li>
                <li>Dry Berries - Jamun</li>
                <li>Fox Nuts - Makhana</li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\dry-fruits.png" alt="">
        </div>
    </div>

    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">2. Avoid ultra-processed foods</h1>
            <p class="subpara">Ultra-processed foods tend to taste good and are often inexpensive. <br> However, they
                usually contain ingredients that could be harmful if consumed in excess, such as saturated fats, added
                sugar, and salt. These foods also contain less dietary fiber and fewer vitamins than whole foods. <br>
                <br> Ultra-processed foods are foods containing ingredients that are significantly modified from their
                original form. <br> They often contain additives like added sugar, highly refined oil, salt,
                preservatives, artificial sweeteners, colors, and flavors as well.

                Examples include: <br> <br>

                <li>snack cakes</li>
                <li>fast food</li>
                <li>frozen meals</li>
                <li>canned foods</li>
                <li>chips</li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\fastfood.jpg" alt="">
        </div>
    </div>

    <div class="box-1">
        <div class="para">
            <h1 class="subheading">3. Limit sugary drinks</h1>
            <p class="subpara">Sugary drinks like sodas, fruit juices, and sweetened teas are the primary source of
                added sugar in the American diet <br> <br>
                Unfortunately, findings from several studies point to sugar-sweetened beverages increasing risk of heart
                disease and type 2 diabetes, even in people who are not carrying excess body fat <br> <br>
                Sugar-sweetened beverages are also uniquely harmful for children, as they can contribute not only to
                obesity in children but also to conditions that usually do not develop until adulthood, like type 2
                diabetes, high blood pressure, and non-alcoholic fatty liver disease. <br> <br>
                Healthier alternatives include: <br>
                <li>water</li>
                <li>unsweetened teas</li>
                <li>sparkling water</li>
                <li>coffee</li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\soft drink.jpg" alt="">
        </div>
    </div>

    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">4. Stay hydrated</h1>
            <p class="subpara">Hydration is an important and often overlooked marker of health. Staying hydrated helps
                ensure that your body is functioning optimally and that your blood volume is sufficient. <br> Drinking
                water
                is the best way to stay hydrated, as it’s free of calories, sugar, and additives. <br> <br>
                10 Benefits of Staying Hydrated: <br>
                <li>Maintain constant body temperature.</li>
                <li>Take away sense of hunger.</li>
                <li>Convert food and fuel to energy.</li>
                <li>Maintain a healthy blood level.</li>
                <li>Keep joints and cartilage lubricated and soft.</li>
                <li>Transport oxygen-rich blood and nutrients.</li>
                <li>Balance electrolytes.</li>
                <li>Remove waste.</li>
                <li>Remove waste.</li>
                <li>Keep tissues moistened.</li>
                <li>Maintain constant body temperature.</li>

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\water.png" alt="">
        </div>
       
        
    </div> 

    
        <div id="button">

        <a routerLink="nutrition-tips27"><button   class="button" style="vertical-align:middle"><span>View Allll</span></button></a>
    
        </div>

    <!-- ----------------------------------------- -->
    <hr>



    <div class="heading-2">
        <h1>healthy eating in real life</h1>
        <a class="viewall1" routerLink="#">View All
            <span class="fa fa-arrow-circle-o-right"></span>
        </a>
    </div>

    <div class="HERLmain-1">
        <div class="HERL-2">
            <div class="thumbnail">
                <img src="assets\photo\grocery1.png" alt="">
            </div>
            <div class="paras-1">
                <a class="HERLheading-1" href="#">
                    <h3>The Definitive guide to healthy eating in real life</h3>
                </a>
                <p class="subpara">Hydration is an important and often overlooked marker of health. Staying hydrated
                    helps
                </p>

            </div>
        </div>
            <div class="HERL-2">
            <div class="thumbnail">
                <img src="assets\photo\shopping.jpg" alt="">
            </div>
            <div class="paras-2">
                <a class="HERLheading-1" href="#">
                    <h3>15 Staple Foods to Make Healthy Eating Easy All Week Long </h3>
                </a>
                <p class="subpara">Hydration is an important and often overlooked marker of health. Staying hydrated
                    helps
                </p>
            </div>
        </div>
    </div>


        <div class="HERLmain-2">
            <div class="HERL-3">
                <div class="thumbnail">
                    <img src="assets\photo\protien1.png" alt="">
                </div>
                <div class="paras-3">
                    <a class="HERLheading-1" href="#">
                        <h3>Plant based protein </h3>
                    </a>
                    <p class="subpara">Hydration is an important and often overlooked marker of health. Staying hydrated
                        helps
                    </p>
    
                </div>
            </div>
                <div class="HERL-4">
                <div class="thumbnail">
                    <img src="assets\photo\shopping1.png" alt="">
                </div>
                <div class="paras-4">
                    <a class="HERLheading-1" href="#">
                        <h3>The definitive guide to healthy grocery shopping</h3>
                    </a>
                    <p class="subpara">How to 
                    </p>
                </div>
            </div>
        </div>

        <hr>
        <!-- liberty of food -->

        <div class="LOF">
            <div class="heading-2">
                <h1>Liberty of Food</h1>
                <!-- <a class="viewall" routerLink="#">View All
                    <span class="fa fa-arrow-circle-o-right"></span>
                </a> -->
            </div>

            <div class="LOFmain-1">
                <div class="LOF-1">
                    <div class="thumbnail-img">
                        <img src="assets\photo\food craving.png" alt="">
                    </div>
                    <div  class="LOFpara-1">
                        <a class="LOFheading-1" href="#">
                            <h1  >How to Manage Food Craving</h1>
                        </a>
                        <h2 >10 tips for managing food cravings</h2>
                <ol >
                    <li class="list-heading">Eat 3 balanced meals daily.</li>
                    <p>Do not skip meals, this will just make you hungrier at your next meal and cause you to overeat.
                    </p>
                    <li class="list-heading">Don’t get upset if you slip up.</li>
                    <p>Everyone overeats at times, remember, “everything in moderation”.</p>

                    <div *ngIf="display">

                    <li class="list-heading">Accept food cravings as a normal part of living.</li> <br>
                    <p>You cannot control a craving, but you can control your reaction to it. Try to understand your
                        cravings in relation to your mood or situation and fix the root cause of the craving.</p> <br>

                    <li class="list-heading">Look at cravings as suggestions to eat, not as commands to overindulge.
                    </li> <br>
                    <li class="list-heading">Believe that cravings will pass, cravings are not actual hunger.</li> <br>
                    <li class="list-heading"> Stop labeling foods as bad or forbidden.</li> <br>
                    <li class="list-heading">The 5 Ds of food cravings: </li> <br>
                    <ul>
                        <li>Distract– do something else</li>
                        <li>Distance– don’t keep the temptation on hand in the kitchen</li>
                        <li>Determine– think about how much you actually want it</li>
                        <li>Decide– know how much of it to eat, slow down and enjoy it (taste it, don’t waste it)</li>
                        <li>Stay active.</li> <br>
                    </ul>
                    <p>This helps distract you from eating and exercise suppresses your appetite.
                    </p> <br>
                    <li class="list-heading">Slow your eating rate.</li> <br>
                    <ul>
                        <li>It takes about 20 minutes for your body to realize it’s full. Put the fork down between
                            bites and swallow before you pick the fork up again.</li>
                        <li>Wait 5 minutes before you take a second helping. Leave the table when you are done eating or
                            clear your plate from the table.</li>
                        <li>Serve and eat one portion at a time (i.e. if you want 2 pieces of toast, make one first and
                            then decide if you are still hungry for the second one).</li>
                    </ul> <br>
                    <li class="list-heading">Separate eating from other activities. This will remove the ability of other activities to
                        stimulate eating and allows you to respond to the actual feeling of hunger.</li> <br>
                    <ul>
                        <li>Do nothing else while eating</li>
                        <li>Follow an eating schedule; eat at the same time everyday</li>
                        <li>Eat in one place, preferably the dinner table and not your couch or desk</li>
                        <li>Don’t always feel like you have to clean your plate</li>
                    </ul>


                </div>

                </ol>
           
                    <a routerLink="food-craving"><button (click)="toggle()" class="button" style="vertical-align:middle"><span>Read More</span></button></a>
                    
                    </div>
                
                    
                </div>
            </div>
        </div>
</div>





   