<div>
    <div class="nutrition-banner">
        <img src="assets\photo\27 nutrition.png" alt="">
    </div>

    <div class="mainheading">
        <h2>Health and Nutrition</h2>
    </div>

    <hr>

    <div class="box-1">
        <div class="para">
            <h1 class="subheading">1. Eat dry Fruits</h1>
            <p class="subpara">Nuts may help you lose weight and reduce the risk of developing type 2 diabetes and heart
                disease <br> <br>
                Nuts and seeds are good sources of protein, healthy fats, fibres, vitamins, and minerals. <br>
                Nuts and seeds regulate body weight as their fats are not fully absorbed, they regulate food intake, and
                help burn energy. <br> <br> Some people avoid nuts because they are high in fat. However, nuts and seeds
                are incredibly nutritious. They are packed with protein, fiber, and a variety of vitamins and minerals
                <br> <br>
                Nuts may help you lose weight and reduce the risk of developing type 2 diabetes and heart disease <br>
                <br>
                Additionally, one large observational study noted that a low intake of nuts and seeds was potentially
                linked to an increased risk of death from heart disease, stroke, or type 2 diabetes. <br>
                Some Dry fruits: <br> <br>
                <li>Pistachios - Pista</li>
                <li>Apricot - Khubani</li>
                <li>Dates - Khajoor</li>
                <li>Cashew - Kaju</li>
                <li>Almonds - Badam</li>
                <li>Walnuts - Akhrot</li>
                <li>Raisins - Kismis</li>
                <li>Hazelnuts - Pahadi Badam</li>
                <li>Dry Figs - Anjeer</li>
                <li>Prunes - Alubukhara</li>
                <li>Dry Berries - Jamun</li>
                <li>Fox Nuts - Makhana</li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\dry-fruits.png" alt="">
        </div>
    </div>

    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">2. Avoid ultra-processed foods</h1>
            <p class="subpara">Ultra-processed foods tend to taste good and are often inexpensive. <br> However, they
                usually contain ingredients that could be harmful if consumed in excess, such as saturated fats, added
                sugar, and salt. These foods also contain less dietary fiber and fewer vitamins than whole foods. <br>
                <br> Ultra-processed foods are foods containing ingredients that are significantly modified from their
                original form. <br> They often contain additives like added sugar, highly refined oil, salt,
                preservatives, artificial sweeteners, colors, and flavors as well.

                Examples include: <br> <br>

                <li>snack cakes</li>
                <li>fast food</li>
                <li>frozen meals</li>
                <li>canned foods</li>
                <li>chips</li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\fastfood.jpg" alt="">
        </div>
    </div>

    <div class="box-1">
        <div class="para">
            <h1 class="subheading">3. Limit sugary drinks</h1>
            <p class="subpara">Sugary drinks like sodas, fruit juices, and sweetened teas are the primary source of
                added sugar in the American diet <br> <br>
                Unfortunately, findings from several studies point to sugar-sweetened beverages increasing risk of heart
                disease and type 2 diabetes, even in people who are not carrying excess body fat <br> <br>
                Sugar-sweetened beverages are also uniquely harmful for children, as they can contribute not only to
                obesity in children but also to conditions that usually do not develop until adulthood, like type 2
                diabetes, high blood pressure, and non-alcoholic fatty liver disease. <br> <br>
                Healthier alternatives include: <br>
                <li>water</li>
                <li>unsweetened teas</li>
                <li>sparkling water</li>
                <li>coffee</li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\soft drink.jpg" alt="">
        </div>
    </div>

    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">4. Stay hydrated</h1>
            <p class="subpara">Hydration is an important and often overlooked marker of health. Staying hydrated helps
                ensure that your body is functioning optimally and that your blood volume is sufficient. <br> Drinking
                water
                is the best way to stay hydrated, as it’s free of calories, sugar, and additives. <br> <br>
                10 Benefits of Staying Hydrated: <br>
                <li>Maintain constant body temperature.</li>
                <li>Take away sense of hunger.</li>
                <li>Convert food and fuel to energy.</li>
                <li>Maintain a healthy blood level.</li>
                <li>Keep joints and cartilage lubricated and soft.</li>
                <li>Transport oxygen-rich blood and nutrients.</li>
                <li>Balance electrolytes.</li>
                <li>Remove waste.</li>
                <li>Remove waste.</li>
                <li>Keep tissues moistened.</li>
                <li>Maintain constant body temperature.</li>

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\water.png" alt="">
        </div>
    </div>

    <div class="box-1">
        <div class="para">
            <h1 class="subheading">5. Meditate</h1>
            <p class="subpara">Meditation is a practice in which an individual uses a technique such as mindfulness,
                or focusing the mind on a particular object, thought, or activity to train attention and awareness,
                and achieve a mentally clear and emotionally calm and stable state. <br> <br>
                Meditation may significantly reduce stress, anxiety, depression, and pain, and enhance peace,
                perception, self-concept, and well-being. Research is ongoing to better understand the
                effects of meditation on health (psychological, neurological, and cardiovascular) and other areas.

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\meditation.png" alt="">
        </div>
    </div>
    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">6. Limited uses of refined carbohydrate</h1>
            <p class="subpara">Carbohydrates have gotten a bad rap over the years, but not all carbohydrates are bad for
                you. In fact, carbs are one of the key macronutrients your body needs on a daily basis to function
                properly — you just need to know what kind of carbs to reach for. There are complete, unrefined
                carbohydrates that come from nutritious foods whole grains, legumes, fruits and vegetables. And then
                there are refined carbohydrates, which are often processed.
                is the best way to stay hydrated, as it's free of calories, sugar, and additives. <br> <br>
                Some Example of carbs: <br> <br>
                <li>Breads, grains, and pasta.</li>
                <li>Nuts and Legumes.</li>
                <li>Starchy Vegetables.</li>
                <li>Milk and yogurts.</li>
                <li>Fruits.</li>
                <li>Snack Foods.</li>
                <li>Sauces and condiments</li>


            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\carbs.jpg" alt="">
        </div>
    </div>

    <div class="box-1">
        <div class="para">
            <h1 class="subheading">7. Avoid artificial trans fats</h1>
            <p class="subpara">Trans fats, found in processed foods, are an inexpensive way to extend the shelf life of
                foods. While trans fats have been helpful for food manufacturers, they’re considered harmful for
                humans—which is why it’s so important to eliminate trans fats in your family’s diet. They are
                unnaturally produced through the process of hydrogenation, where hydrogen is added to liquid vegetable
                oil. This process converts the oil into a solid fat at room temperature.

                Trans fats are most often found in fried foods, savory snacks, frozen pizzas, baked goods, margarines,
                ready-made frosting, and coffee creamers
                is the best way to stay hydrated, as it’s free of calories, sugar, and additives. <br> <br>
                <li>Maltose</li>
                <li>Honey</li>
                <li>Molasses</li>
                <li>Juice</li>
                <li>High-fructose corn syrup</li>
                <li>Maple syrup</li>
                <li>Cane sugar</li>
                <li>Dextrose</li>
                <li>Invert sugar</li>
                <li>Rice syrup</li>
                <li>Caramel </li>

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\fastfood.jpg" alt="trans fat">
        </div>
    </div>

    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">8. Minimize your sugar intake</h1>
            <p class="subpara">Sugar is the simplest form of carbohydrate – the others being fibre and starch, which are
                longer chain molecules.

                Natural (intrinsic) sugar exists in certain foods like fruit and milk. Added (free) sugars have been
                added to foods during manufacturing in products like biscuits and ice-cream.

                Sugar takes several different forms. Glucose, fructose, and sucrose are all types of sugar.

                Glucose is the body’s preferred carb source and is made up of one single unit of sugar.

                Similarly, fructose is a single unit of sugar known as ‘fruit sugar’. Sucrose is a combination of
                glucose and fructose and is simply the scientific name for basic table sugar.

                As well as different forms of sugar, there are many other names for added sugar. This means sugar can be
                disguised as all kinds of product ingredients in supermarkets. Keep your eyes peeled for: <br>

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\sugar.png" alt="">
        </div>
    </div>

    <div class="box-1">
        <div class="para">
            <h1 class="subheading">9. Use extra virgin olive oil</h1>
            <p class="subpara">Extra virgin olive oil is one of the healthiest vegetable oils you can use. It’s loaded
                with heart-healthy monounsaturated fats and powerful antioxidants that have anti-inflammatory
                properties.

                Extra virgin olive oil may benefit heart health, as people who consume it have a lower risk for dying
                from heart attacks and strokes.

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\olive oil.png" alt="">
        </div>
    </div>

    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">10. Use plenty of herbs and spices</h1>
            <p class="subpara">Although spices and herbs have been used since ancient times, they are playing a new and
                important role in modern food preparation. They not only add unique flavors to our food, but contribute
                color and variety as well. Certain spices and herbs used alone, or in blends, can replace or reduce salt
                and sugar in foods.
                Many people use the terms interchangeably to mean any product of plant origin used primarily for
                seasoning food. Technically, herbs come from aromatic plants grown in the temperate zone, while spices
                are products of tropical plants. Usually, the leaves of herbs are used; whereas, spices may come from
                the bark, berries, flower buds, roots, or seeds. <br> <br>


                <li>Strong or dominant flavor – Includes bay leaf, cardamom, curry (actually a blend of spices), ginger,
                    pepper, mustard, rosemary, sage.</li> <br>
                <li>Medium flavors – Use in moderate amounts (1 to 2 teaspoons for 6 servings). Includes basil, celery
                    seeds and leaves, cumin, dill, fennel, French tarragon, garlic, marjoram, mint, oregano, savory,
                    thyme, turmeric.</li> <br>
                <li>Delicate flavors – Includes burnet, chervil, chives, parsley. May be used in large quantities and
                    combined with most other herbs and spices.</li> <br>
                <li>Sweet flavor (combined in sweet dishes may let you reduce sugar) – Includes cinnamon, cloves,
                    allspice, ginger, cardamom, anise, fennel, mint.</li> <br>
                <li>Savory flavor – Oregano, tarragon, chives, dill.</li> <br>
                <li>Peppery flavor – Red pepper, mustard, black pepper, paprika. Use with care since their flavors stand
                    out (approximately 1 teaspoon for 6 servings).</li>

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\plenty food.png" alt="">
        </div>
    </div>

    <div class="box-1">
        <div class="para">
            <h1 class="subheading">11. Eat whole eggs </h1>
            <p class="subpara">Eggs are an excellent source of protein and are rightly called the nutritional
                powerhouse. Packed with all the essential nutrients, eggs are your best bet if you are trying to lose
                weight or build muscles. However, egg yolk has always been in the center of controversy. It is
                considered unhealthy due to the presence of high cholesterol, which is linked to heart issues. Also,
                people aiming for a flat stomach and six-pack abs eat only egg whites and discard the yolks. But should
                you really not eat the egg yolk while following a weight loss diet.
                <br>
                <span style="color:rgb(201, 1, 1);font-weight:bold;">A whole egg is full of various nutrients, while the
                    white portion is a rich source of protein. The rest of the nutrients are present in the yolk. The
                    egg yolk is rich in Iron, Vitamin B2, B12 and D, which are missing from egg whites. If you eat only
                    the egg whites, you’re missing out on other nutrients.</span>
                <br>
                The nutritional content of egg white and whole eggs are as follow:
                <br> <br>
                8 egg whites
                <li>Protein: 28 grams</li>
                <li>Carbs: 2 grams</li>
                <li>Fats: 0 grams</li>
                <li>Calories: 137</li>
                <br>
                4 whole eggs
                <li> Protein: 28 grams</li>
                <li> carbs: 2 grams</li>
                <li> Fats: 21 grams</li>
                <li> Calories: 312</li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\egg.png" alt="">
        </div>
    </div>

    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">12. Eat enough Protein</h1>
            <p class="subpara">Protein is essential to good health. You need it to make the bricks and mortar of the
                body, including muscle, bone, and blood. But how much protein does the average man need in order to stay
                healthy?

                <li>Choose protein sources low in saturated fat. Also avoid highly processed carbohydrates. </li>
                <li>Protein powders and shakes provide amino acids but offer limited nutritional value. Ready-to-drink
                    shakes may also contain added sugar and other caloric sweeteners, so make sure to read the nutrition
                    label.</li>

                <li>Unless you are a bodybuilder, you don't really need an extra boost of protein before a strength
                    training
                    workout. The cur-rent 15% protein intake of the average American male, combined with regular
                    exercise,
                    is sufficient to maintain muscle.
                </li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\protien.png" alt="">
        </div>
    </div>
    <div class="box-1">
        <div class="para">
            <h1 class="subheading">13. Don’t smoke</h1>
            <p class="subpara">Tobacco has been around for centuries, but what we know about the health damage from
                smoking is much newer. For example, smokers tend to die more than 10 years earlier than people who don’t
                smoke. You can improve your health by choosing to quit smoking. <br>
                Tobacco use harms every organ in your body. Smoking tobacco introduces not only nicotine but also more
                than 5,000 chemicals, including numerous carcinogens (cancer-causing chemicals), into your lungs, blood
                and organs. <br>

                The damage caused by smoking can shorten your lifespan significantly. In fact, smoking is the number one
                cause of preventable death in the United States. <br>

                Pregnant women who smoke put their unborn babies at risk, too. Possible effects on pregnancy include:
                <br>
                <li>Ectopic pregnancy, a life-threatening condition when the embryo implants outside the uterus.</li>
                <li>Miscarriages.</li>
                <li>Stillbirths.</li>
                <li>Birth defects, such as cleft palate. </li>
                <li>Low birth weight.</li>
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\smoke.png" alt="">
        </div>
    </div>
    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">14.Dont't Use drugs, and only drink in moderation</h1>
            <p class="subpara">Smoking, harmful use of drugs, and alcohol abuse can all seriously negatively affect your
                health. <br>

                If you do any of these actions, consider cutting back or quitting to help reduce your risk for chronic
                diseases. <br>

                There are resources available online — and likely in your local community, as well — to help with this.
                Talk with your doctor to learn more about accessing resources. <br>

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\drug.png" alt="">
        </div>
    </div>
    <div class="box-1">
        <div class="para">
            <h1 class="subheading">15.Avoid bright lights before sleep</h1>
            <p class="subpara">Some studies suggest a link between exposure to light at night, such as working the night
                shift, to diabetes, heart disease, and obesity. That's not proof that nighttime light exposure causes
                these conditions; nor is it clear why it could be bad for us. <br>
                Everyone has slightly different circadian rhythms, but the average length is 24 and one-quarter hours.
                The circadian rhythm of people who stay up late is slightly longer, while the rhythms of earlier birds
                fall short of 24 hours. br
                Not all colors of light have the same effect. Blue wavelengths—which are beneficial during daylight
                hours because they boost attention, reaction times, and mood—seem to be the most disruptive at night.
                And the proliferation of electronics with screens, as well as energy-efficient lighting, is increasing
                our exposure to blue wavelengths, especially after sundown.

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\sleep mobile.png" alt="sleep">
        </div>
    </div>
    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">16. Eat plenty of fruits and vegetables</h1>
            <p class="subpara"> diet rich in vegetables and fruits can lower blood pressure, reduce the risk of heart
                disease and stroke, prevent some types of cancer, lower risk of eye and digestive problems, and have a
                positive effect upon blood sugar, which can help keep appetite in check. <br>
                Vegetables and fruits are an important part of a healthy diet, and variety is as important as quantity.
                <br>
                No single fruit or vegetable provides all of the nutrients you need to be healthy. Eat plenty every day.

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\plenty food.png" alt="">
        </div>
    </div>
    <div class="box-1">
        <div class="para">
            <h1 class="subheading">18. Lift heavy weights</h1>
            <p class="subpara">Despite what you may have heard in the high school locker room or seen on social media,
                lifting heavy weights doesn't automatically indicate big, bulky muscles. According to experts, the
                opposite is true. "Training with heavier loads doesn’t instantly make you muscular... <br> If your goal
                is to improve your body composition, lifting heavy weights is a good option.
                Studies show that increasing the training load and volume increases fat loss while increasing muscle
                hypertrophy. <br>

                Track your body fat percentage to find out if you've been building muscle and losing body fat
                simultaneously—changing your body composition. Use this body fat calculator to find out your starting
                point. And since muscle and fat don't change overnight, record your body fat every 4-6 weeks for a
                better idea of progress

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\\heavy weight.png" alt="">
        </div>
    </div>
    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">18. Nurture Relationship</h1>
            <p class="subpara">Great relationships not only make working easier; they also improve productivity. Deeply
                connected relationships cultivate trust and mutual respect. Relationships take effort and hard work, but
                like anything important in our life, they're well worth preserving. <br>
                to take care of (someone or something that is growing or developing) by providing food, protection, a
                place to live, etc. The study looks at the ways parents nurture their children.

            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\vitamin d.png" alt="">
        </div>
    </div>
    <div class="box-1">
        <div class="para">
            <h1 class="subheading">19.Social Relationship</h1>
            <p class="subpara">Broadly defined, social relationships refer to the connections that exist between people
                who have recurring interactions that are perceived by the participants to have personal meaning. <br> A
                social relation or social interaction is the fundamental unit of analysis within the
                social sciences, and describes any voluntary or involuntary interpersonal relationship between two or
                more individuals within and/or between groups. The group can be a language or kinship group, a social
                institution or organization, an economic class, a nation, or gender. Social relations are derived from
                human behavioral ecology, and, as an aggregate, form a coherent social structure whose constituent parts
                are best understood relative to each other and to the ecosystem as a whole.
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\social.png" alt="">
        </div>
    </div>
    <div class="box-2">
        <div class="para-2">
            <h1 class="subheading">20.Get enough sleep</h1>
            <p class="subpara">Most adults need 7 or more hours of good-quality sleep on a regular schedule each night.

                Getting enough sleep isn’t only about total hours of sleep. It’s also important to get good-quality
                sleep on a regular schedule so you feel rested when you wake up. <br> <br>
                <li>Teens need 8 to 10 hours of sleep each night</li> 
                <li>School-aged children need 9 to 12 hours of sleep each night</li> 
                <li>Preschoolers need to sleep between 10 and 13 hours a day (including naps)</li> 
                <li>Toddlers need to sleep between 11 and 14 hours a day (including naps)</li> 
                <li>Babies need to sleep between 12 and 16 hours a day (including naps)</li> 
                <li>Newborns need to sleep between 14 and 17 hours a day</li> 
            </p>
        </div>
        <div class="thumbnail">
            <img src="assets\photo\sleep mobile.png" alt="">
        </div>
    </div>
</div>