<div class="hcod-banner">
    <img src="assets\photo\hcod-banner.png" alt="hcod">
</div>

<div class="Condition">
    <h1>Health Conditions</h1>
  
</div>
<hr>
<div class="condition-img">
   <div class="read-nutrion">
      <a id="underline-1" routerLink="covid19"> <img src="assets\photo\covid.png" alt="">
       <li>COVID 19</li></a>
   </div>
   <div class="Breast-Cancer">
      <a id="underline-1" href="#"><img src="assets\photo\breast.png" alt="bread-photo">
       <li>Breast Cancer</li></a> 
   </div>
   <div class="Inflammatory">
      <a id="underline-1" href="#"><img src="assets\photo\inflammatory.png" alt="bread-photo">
       <li>Inflammatory Bowel Disease</li></a>
   </div>
   <div class="Migraine">
       <a id="underline-1" href="#"><img src="assets\photo\migraine.png" alt="bread-photo">
        <li>Migraine</li></a>
    </div>
    <div class="Heart-Disease">
       <a id="underline-1" href="#"><img src="assets\photo\Heart-Disease.png" alt="bread-photo">
        <li>Heart-Disease</li></a>
    </div>
    <div class="Arthristis">
       <a id="underline-1" href="#"><img src="assets\photo\arthristis.png" alt="bread-photo">
        <li>Rheumatoid Arthristis</li></a>
    </div>
    <div class="Diabetes">
       <a id="underline-1" href="#"><img src="assets\photo\diabetes.png" alt="bread-photo">
        <li>Type 2 Diabetes</li></a>
    </div>
    <div class="HIV">
       <a id="underline-1" href="#"><img src="assets\photo\HIV.png" alt="bread-photo">
        <li>HIV</li></a>
    </div>
    
</div>