<div>
    <div>
        <div class="first-heading">
            <h2>"<span style="color:rgb(233, 0, 0);font-weight:bold;">The sign of Health,</span> the sign of life, the sign of hope,<br>
                the sign of vigour, the sign of everything that is good, is strength<br>
                As long as the body lives, there must be strength in the body, <br> strength in the mind."</h2>
        </div>
            
    </div>
    
    <div class="explore">
        <li>EXPLORE BY</li>
        <hr>
    </div>
    <div class="explore-img">
        <div class="explore-nutrion">
           <a id="underline" routerLink="nutrition"> <img src="assets\photo\home-nutrition.png" alt="photo">
            <li>Nutrition</li></a>
        </div>
        <div class="explore-sleep">
           <a id="underline" href="#"><img src="assets\photo\home-sleep.png" alt="Explore_By-Nutrition.png">
            <li>Sleep</li></a> 
        </div>
        <div class="explore-mentalhealth">
           <a id="underline" href="#"><img src="assets\photo\home-mental.png" alt="Explore_By-Nutrition.png">
            <li>Mental Health</li></a>
        </div>
        <div class="explore-mentalhealth">
            <a id="underline" routerLink="fitness"><img src="assets\photo\home-fitness.png" alt="Explore_By-Nutrition.png">
             <li>Fitness</li></a>
         </div>
         
    </div>


    <div class="read">
        <hr>
        <li>TOP MORE READS</li>
        <hr>
    </div>
    <div class="read-img">
        <div class="read-nutrion">
           <a id="underline-1" href="#"> <img src="assets\photo\bread.png" alt="bread-photo">
            <li>How to promote healthy diets all time</li></a>
        </div>
        <div class="read-sleep">
           <a id="underline-1" href="#"><img src="assets\photo\toxic environment.png" alt="bread-photo">
            <li>How to Deal With Toxic Work Enviroment</li></a> 
        </div>
        <div class="read-mentalhealth">
           <a id="underline-1" href="#"><img src="assets\photo\sleep bed.png" alt="bread-photo">
            <li>How Smart Beds Can Help You Get the Best Rest You Can ?</li></a>
        </div>
        <div class="read-mentalhealth">
            <a id="underline-1" href="#"><img src="assets\photo\gym.png" alt="bread-photo">
             <li>How long does it take for weight loss?</li></a>
         </div>
    </div>
    <div class="video-1">
        <video width="70%" height="50%" controls>
            <source src="assets\video\healthy-tips.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
          </video>
          
    </div>
    <hr>
    <div class="Condition">
         <h1>Health Conditions</h1>
        <a class="viewall" routerLink="health-condition">View All
            <span class="fa fa-arrow-circle-o-right"></span>
        </a>
       
    </div>
    <hr>
    <div class="condition-img">
        <div class="read-nutrion">
           <a id="underline-1" routerLink="covid19"> <img src="assets\photo\covid.png" alt="">
            <li>COVID 19</li></a>
        </div>
        <div class="Breast-Cancer">
           <a id="underline-1" href="#"><img src="assets\photo\breast.png" alt="bread-photo">
            <li>Breast Cancer</li></a> 
        </div>
        <div class="Inflammatory">
           <a id="underline-1" href="#"><img src="assets\photo\inflammatory.png" alt="bread-photo">
            <li>Inflammatory Bowel Disease</li></a>
        </div>
        <div class="Migraine">
            <a id="underline-1" href="#"><img src="assets\photo\migraine.png" alt="bread-photo">
             <li>Migraine</li></a>
         </div>
         <div class="Heart-Disease">
            <a id="underline-1" href="#"><img src="assets\photo\Heart-Disease.png" alt="bread-photo">
             <li>Heart-Disease</li></a>
         </div>
         <div class="Arthristis">
            <a id="underline-1" href="#"><img src="assets\photo\arthristis.png" alt="bread-photo">
             <li>Rheumatoid Arthristis</li></a>
         </div>
         <div class="Diabetes">
            <a id="underline-1" href="#"><img src="assets\photo\diabetes.png" alt="bread-photo">
             <li>Type 2 Diabetes</li></a>
         </div>
         <div class="HIV">
            <a id="underline-1" href="#"><img src="assets\photo\HIV.png" alt="bread-photo">
             <li>HIV</li></a>
         </div>
         
    </div>
    

</div>
